<!DOCTYPE html>
<html lang="en">
{% load crispy_forms_tags %}
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>
<body>
    <div>
        <div>
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
            {% endif %}
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" name="submit" value="Password Reset">
        </form>

    </div>
</body>
</html>